text-align: center;
padding: 16px 0;
}
.rodape{
background-color: #fcdff5;
text-align: center;
}

.rodape-imagem{
height: 60px;
padding: 12px 0;

}
:root{
    --cor-fundo: #fcdff5;
    --cor-principal: #eb78bb ;
    --cor-secundaria: #eb78bb;
    --cor-destaque: #e659b7;
    --cor-texto: #0e0d0d;
}

body{
    background-color: pink(--cor-fundo);
    color: pink(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: pink(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: pink(--cor-destaque);
}

.button{
    background-color: pink(--cor-secundaria);
    color: pink(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: pink (--cor-destaque);
    color: pink(--cor-principal);
}

.caixa-perguntas{
    padding-bottom: 10px;